nav {
  background-color: #2f3386;
}

/* HOME PAGE */
.hero-home {
  background-image: url(../img/hero-home.svg);
  height: 90vmin;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cnt-hero-home {
  height: 60vmin;
  padding-top: 180px;
}

.cnt-hero-home .hero-text-home {
  font-size: 50px;
  font-weight: 800;
  line-height: 48px;
  text-align: center;
  color: #e28103;
  -webkit-text-stroke: 3px #2f3386;
  opacity: 0.8;
}
.contact-us-home {
  display: block;
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
  background-color: #3d42a8;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  transition: 0.3s;
  opacity: 0.8;
}

.contact-us-home:hover {
  background-color: #2f3386;
  scale: 1.1;
  opacity: 1;
}

.contact-us-home .contact-us-text-home {
  color: #fff;
  font-size: 20px;
}
/* END HOME PAGE */
