@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');
nav {
  background-color: #2f3386;
}

/* HOME PAGE */
.hero-home {
  background-image: url(../img/hero-home.svg);
  height: 90vmin;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cnt-hero-home {
  height: 60vmin;
  padding-top: 140px;
}

.cnt-hero-home .hero-text-home {
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 4px;
  text-align: center;
  color: #e28103;
  -webkit-text-stroke: 2px #2f3386;
  opacity: 0.8;
}
.contact-us-home {
  display: block;
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
  background-color: #3d42a8;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  transition: 0.3s;
  opacity: 0.8;
}

.contact-us-home:hover {
  background-color: #2f3386;
  scale: 1.1;
  opacity: 1;
}

.contact-us-home .contact-us-text-home {
  color: #fff;
  font-size: 20px;
}
/* END HOME PAGE */
